%table#assignment_list_table.table-striped
  %tbody
    %tr
      %th#index_name.assn_list_header
        = sortable "name", "Name"
      %th#index_due_date.assn_list_header
        = sortable "due_date", "Due Date"
      %th#index_assn_type.assn_list_header
        = sortable "assn_type", "Type"
      %th#index_percent_done.assn_list_header
        = sortable "percent_done", "Progress"
      %th#index_edit 
      %th#index_delete 
    - if logged_in?
      - user.assignments.each do |a|
        = render 'assignment_row', asn: a