#default_page
	#title
		= greeting_generator(current_user.username.capitalize)
	#date.col-sm-12
		= "Today's date is #{Time.now.strftime("%A %B %d, %Y")}!"
	#row-one.col-sm-12
		.col-sm-1
		= render 'due_within_week'
		= render 'total_assignments_info'
		.col-sm-1
	#row-two.col-sm-12
		.col-sm-1
		= render 'past_due'
		.col-sm-5
			- changelog = SiteText.changelog
			-if changelog.nil?
				= link_to "Generate Changelog", generate_changelog_path
			-else
				:markdown
					#{changelog.try :content}
				-if current_user.privilege > 5
					= link_to 'Edit Changelog', edit_site_text_path(SiteText.changelog)
		.col-sm-1
	#row-three.col-sm-12
		.col-sm-3
		.col-sm-6
			= link_to 'View the full assignment list!', assignments_path(view_asn: "true"), class: 'btn btn-info'
		.col-sm-6
	#buffer{style: 'color: white'}
		hello! this text is used to prevent a bug of the footer overlapping the above content =)
		
		