%h2 
	Editing 
	= @assignment.name

= form_for @assignment, url: assignment_path(@assignment), method: :patch do |f|
	- if @assignment.errors.any?
		%div#error_explanation
			%h2
				= pluralize(@assignment.errors.count, "error")
				prohibited this assignment from being saved:
			%ul
				- @assignment.errors.full_messages.each do |msg|
					%li
						= msg
	%p 
		= f.label :name
		%br/
		= f.text_field :name
	%p
		= f.label :due_date
		%br/
		= f.date_select :due_date
	%p
		= f.label :assn_type
		%br/
		= f.text_field :assn_type
	%p
		= f.label :percent_done
		%br/
		= f.text_field :percent_done
	%p
		= f.submit
	= link_to 'Back', assignments_path