= form_for :assignment do |f|
	#thecrasherbutton
		=button_to '' #fuck this button, WHY DOES THIS NEED TO EXIST I'M SO CONFUSED

	- if show_carousel?
		= render 'carousel'
	- if params[:about_us].present?
		= render 'about_us'
	- elsif params[:contact].present?
		= render 'contact'
	- else
		- if logged_in?
			- if params[:view_asn].present?
				- unless current_user.assignments.empty?
					= render 'assignment_list', user: current_user
				- else
					= render 'no_assignments_notify', user: current_user
			- else
				= render 'default_page'
		- else
			= render 'default_assignments_display'