= form_for :assignment do |f|
	- if show_carousel?
		= render 'carousel'
	- if params[:about_us].present?
		= render 'about_us'
	- elsif params[:contact].present?
		= render 'contact'
	- else
		- if logged_in?
			- unless current_user.assignments.empty?
				= render 'assignment_list', user: current_user
			- else
				= render 'no_assignments_notify', user: current_user
		- else
			= render 'default_assignments_display'
	= #render 'footer'