= form_for :assignment do |f|
	#thecrasherbutton
		=button_to '' #fuck this button

	- if show_carousel?
		= render 'carousel'
	= render 'wsidnavbar'
	-if params[:about_us].present?
		= render 'about_us'
	-elsif params[:contact].present?
		= render 'contact'
	-else
		= render 'assignment_list'
	= render 'footer'